<a href="https://colab.research.google.com/github/suraj-safi1/self_practice_projects/blob/main/pythonprj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [97]:
list=['sun','mon','tue','wed','thu','fri','sat']
for x in list:
  print(x)

sun
mon
tue
wed
thu
fri
sat

In [102]:
for x in range(2,51,2):
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [43]:
li=['harry','sohan','sachin','rahul']
for name in li:
  if name.startswith('s'):
    print("hello " + name)

hello sohan
hello sachin

# **write a program to find wheather a given number is prime or not**

In [104]:
num=int(input("enter the number to check:"))

prime=True
for i in range(2,num):
  if(num%i==0):
    prime=False
if prime:
  print("this is prime ")
else:
  print("this is not prime")

enter the number to check:7
this is prime

# **factorial of number**

In [105]:
num=int(input("enter the number to fact:"))
fact=1
for i in range(1,num+1):
  fact = fact * i
print(f'The factorial of {num} is {fact}')

enter the number to fact:6
The factorial of 6 is 720

Sum of N natural number

In [106]:
num=int(input("enter the number to sum:"))
sum=0
for i in range(1,num+1):
  sum = sum + i
print(f'The sum of {num} is {sum}')

enter the number to sum:9
The sum of 9 is 45

write a program to print star pattern
     *
  *  *  *
*  *   *  *

In [58]:
n=3
for i in range(3):
  print(" " * (n-i-1),end="")
  print("*" * (2*i+1),end="")
  print(" " * (n-i-1))

  *
 ***
*****

In [54]:
n=4 


for i in range(4):
  print("*" * (i+1))

*
**
***
****

In [68]:
n=3
for i in range(1):
  print(" * " * (n))
  print(" * " + "    " +"*")
  print(" * " * (n))

 *  *  *
 *     *
 *  *  *

In [107]:
for x in range(1,101):
  if(x%5==0):
    continue
  print(x)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
51
52
53
54
56
57
58
59
61
62
63
64
66
67
68
69
71
72
73
74
76
77
78
79
81
82
83
84
86
87
88
89
91
92
93
94
96
97
98
99

In [85]:
for x in range(1,101,2):
  print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
def sum(a,b):
  c=a+b
  print(c)

In [ ]:
sum(8,9)

17

# **FUNCTIONS**

In [76]:
def percent(marks):
  a= (marks[0]+marks[1]+marks[2]+marks[3])/4
  return a

In [77]:
marks=[34,56,78,90]
p= percent(marks)
print(p)

64.5

In [92]:
a=int(input("Enter number to print table:"))
for x in range(1,11):
   print(f'{a} X  {x} =  {a*x}')

Enter number to print table:6
6 X  1 =  6
6 X  2 =  12
6 X  3 =  18
6 X  4 =  24
6 X  5 =  30
6 X  6 =  36
6 X  7 =  42
6 X  8 =  48
6 X  9 =  54
6 X  10 =  60

In [93]:
table(7)

7 X  1 =  7
7 X  2 =  14
7 X  3 =  21
7 X  4 =  28
7 X  5 =  35
7 X  6 =  42
7 X  7 =  49
7 X  8 =  56
7 X  9 =  63
7 X  10 =  70

In [94]:
table(190)

190 X  1 =  190
190 X  2 =  380
190 X  3 =  570
190 X  4 =  760
190 X  5 =  950
190 X  6 =  1140
190 X  7 =  1330
190 X  8 =  1520
190 X  9 =  1710
190 X  10 =  1900

In [ ]:
def table(a):
  for x in range(1,11):
    print(f'{a} X  {x} =  {a*x}')

In [ ]:
table(9)

9 X  1 =  9
9 X  2 =  18
9 X  3 =  27
9 X  4 =  36
9 X  5 =  45
9 X  6 =  54
9 X  7 =  63
9 X  8 =  72
9 X  9 =  81
9 X  10 =  90

In [ ]:
table(17)

17 X  1 =  17
17 X  2 =  34
17 X  3 =  51
17 X  4 =  68
17 X  5 =  85
17 X  6 =  102
17 X  7 =  119
17 X  8 =  136
17 X  9 =  153
17 X  10 =  170

In [ ]:
sum(88,9999)

10087

In [ ]:
def mul(a,b):
  c= a*b
  print(c)

In [ ]:
sum(45,89)
mul(45,89)

134
4005

In [ ]:
def div(a,b):
  c=a/b
  print(c)

In [ ]:
div(88,4)

22.0

In [ ]:
def subs(a,b):
  c=a-b
  print(c)

In [ ]:
sum(99,45)
mul(99,45)
div(99,45)
subs(99,45)

144
4455
2.2
54

dictionary in python

In [ ]:
list= { 'name': ['priyanka','rai','nidhi','muskan','kunwar','abhinav'],
       'age':[12,13,14,12,14,15],
       'location':['banbasa','fagpur','khatima','tanakpur','banbasa','khatima']}

In [ ]:
type (list)

dict

In [ ]:
list.keys()

dict_keys(['name', 'age', 'location'])

In [ ]:
list.values()

dict_values([['priyanka', 'rai', 'nidhi', 'muskan', 'kunwar', 'abhinav'], [12, 13, 14, 12, 14, 15], ['banbasa', 'fagpur', 'khatima', 'tanakpur', 'banbasa', 'khatima']])

Install Python Libraries
-pandas-data framing and manipulations
-numpy-array
-matplotlib-graphical represt the data
-seaborn-graphical represt the data

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame(list)

In [ ]:
df.head()

       name  age  location
0  priyanka   12   banbasa
1       rai   13    fagpur
2     nidhi   14   khatima
3    muskan   12  tanakpur
4    kunwar   14   banbasa